h1 {
    text-align: center;
}

.fetch-random {
    border-radius: 10px;
    width: 20%;
    height: 50px;
    margin: auto;
    background-color: #aff399;
}

.fetch-random:hover{
    cursor: pointer;
}

.fetch-random:active{
    background-color: red;
}


