h1 {
    text-align: center;
}

.light-novels{
    /* display: flex; */
    /* max-width: 100%; */
    /* margin: 0 80px; */
}

.novel{
    display: flex;
    padding: 2.5rem 1.25rem;   
    justify-content: center;
    align-items: center; 
}
.container{
    margin: 10px 30px;
}

.container.detailed-view {
    flex-direction: column;
}
.container.grid-view {
    /* flex-direction: row; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 10px;
    /* list-style-type: none;  */
    padding: 0; 
    transition: all 0.5s ease;
}
.container.compact-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    padding: 0; 
    transition: all 0.5s ease;
}

.compact-view{
    display: block;
    /* margin-top: 50px; */
    /* width: 100%; */
    text-align: center;
}
.compact-view .novel-picture{
    margin-top: 50px;
}

.compact-view .small-description{
    font-size: 14px;
}
li {
    background-color: #d8c3a5;
    list-style-type: none;
}

li:nth-child(odd) {
    background-color:#8aa399;
}
.description{
    padding: 2.5rem;
    width: 100%;
}

.novel-synopsis{
    padding-bottom: 2rem;
}

h3.title{
    text-align: center;
}


a:visited{
    color: blue;
}

.header{
    display: flex;
    justify-content: space-around;
}

.fetch-random {
    border-radius: 10px;
    width: 20%;
    height: 50px;
    margin: auto;
    background-color: #aff399;
}

.fetch-random:hover{
    cursor: pointer;
}

.fetch-random:active{
    background-color: red;
}
