.pagination{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 1rem;
    font-size: large;
}

.pagination-center{
    display: flex;
    gap: 1rem;
    
}

.pagination a{
    text-decoration: none;
}