.modal {
    position: absolute;
    top: 5%;
    left: 30%;
    right: 30%;
    bottom: 30%;
    background-color:darkgray;
  }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  backdrop-filter: blur(5px);
}

h3 {
  margin-left: 1.25rem;
}

form{
  padding: 0 1.25rem;
}

.form-submit{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.form-submit input{
  margin: 0;
  background-color: #4065ba;
  color: white;
  flex: none;
  width: auto;
}
